include ./mixins.pug
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    //- meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    link(href=require("./icons/favicon-180x180.png").default, rel="apple-touch-icon", sizes="180x180")
    link(href=require("./icons/favicon-256x256.png").default, rel="apple-touch-icon", sizes="256x256")
    link(href=require("./icons/favicon-500x500.png").default, rel="apple-touch-icon", sizes="500x500")
    title 💹WaveWallet
  body
    .wrapper
      +chart()
      +popup()
      #console null
