@import 'variables';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  transition: background-color .3s ease-in-out;
  background-color: var(--white);

  @media (prefers-color-scheme: dark) {
    // background-color: var(--darkBlue);
    background-color: var(--chartBg);
  }
}

.wrapper {
  display: flex;
}

figure {
  margin: auto;
  padding: 0;
  text-align: center;

  figcaption {
    padding: 7px 5px;
    font-style: italic;
    color: var(--greyLight);
  }
}

svg#chart {
  width: 100vw;
  height: 100vh;
  background: var(--chartBg);

  path {
    opacity: 1;
    stroke-width: 0;
    stroke: #fff;
    fill: none;
    stroke-linecap: round;

    &.cash {
      &_line { stroke-width: 2; }

      &_fill {
        fill: url('#grad');
        mix-blend-mode: overlay;
      }
    }
  }
}
