@import 'variables';

body {
  // position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  transition: background-color .3s ease-in-out;
  // background: var(--chartBg);
  background: #65b4ff;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

#console {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  color: var(--white);
  background-color: var(--darkBlue);
  opacity: .5;
}

figure {
  margin: auto;
  padding: 0;
  text-align: center;

  figcaption {
    padding: 7px 5px;
    font-style: italic;
    color: var(--greyLight);
  }
}

svg#chart {
  margin: 0;
  width: 100vw;
  height: 100vh;
  // max-height: 400px;
  // background: var(--chartBg);
  transition: viewBox .3s ease-in-out;

  path {
    opacity: 1;
    stroke-width: 0;
    stroke: #fff;
    fill: none;
    stroke-linecap: round;
    transition: opacity .3s ease-in-out, d 1s ease-in-out;

    &.cash {

      &_line { stroke-width: 2; }

      &_top,
      &_bottom {
        // fill: #fff;
        cursor: pointer;
        fill: url('#gradientTop');
        // mix-blend-mode: overlay;
        opacity: 0;

        // &:hover { opacity: .8; }
        &.active { animation: pathGlow 1s 0s 1 normal ease-in-out forwards; }
      }

      &_bottom {
        // opacity: .6;
        mix-blend-mode: normal;
        fill: url('#gradientBottom');
      }
    }
  }
}

@keyframes pathGlow {
	0% { opacity: 0; }
	15% { opacity: 1; }
	100% { opacity: 0; }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  // display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, var(--chartBottomFillFrom) 0%, var(--chartBottomFillTo) 100%);
  // backdrop-filter: blur(10px) saturate(2) brightness(1.2);
}
